<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Test Me: FCE</h1>
    <p class="lead">Practise with hundreds of free FCE questions with answers and explanation. Start for FREE!</p>
    <button class="btn" type="button">
        <%= link_to 'Click Here', "#", data: {toggle: "modal", target: "#popUpSignUp"} %>
    </button>
  </div>
</div>